.user-data, .user-data--dark{
    position: relative;
    display: flex;
    align-items: center;
    max-width: 500px;
    min-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px;
    border-radius: 8px;
}

.user-data{
    box-shadow: 0 0 10px #00000020;
}

.user-data--dark{
    background: #ffffff10;
    box-shadow: none;
}


.user-data + .user-data, .user-data--dark + .user-data--dark{
    margin-top: 6px;
}

.thumbnail-wrapper{
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

.thumbnail{
    border-radius: 50%;
    font-size: 0;
    width: 40px;
    height: 40px;
    background-size: cover;
}

.img-plug{
    width: 40px;
    height: 40px;
    background:rgba(90, 90, 90, .3);
    border-radius: 50%;
}

.user-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-name--wrapper{
    display: flex;
    gap: .3rem;
    align-items: center;
}

.user-data .user-info .user-name{
    color: #333;
}
.user-data--dark .user-info .user-name{
    color: rgb(223, 223, 223);
}
.user-name, .user-email{
    margin: 0;
}

.user-info .user-name{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: .2rem;
}

.user-info .user-email{
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}

.user-data .user-info .user-email{
    color: rgb(90, 90, 90);
}
.user-data--dark .user-info .user-email{
    color: rgb(172, 200, 209);
}
.input-edit--firstname{
    font-family: 'Roboto', sans-serif;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    padding: 0;
    margin-bottom: .1rem;
}

.input-edit--firstname:focus{
    outline: none;
}

.edit-button{
    width: 10px;
    height: 10px;
    cursor: pointer;
    right: 40px;
    top: 10px;
}