.button-delete{
    position: absolute;
    right: 16px;
    top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: lightgrey;
    cursor: pointer;
}

.button-delete:hover{
    color: darkgray;
}

.refresh-button{
    border: none;
    padding: 1em;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    color: #333;
}

.refresh-button:hover{
    background: rgb(207, 207, 207);
}

.button-action, .button-control{
    border: none;
    padding: .5rem 1rem;
    border-radius: 10px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.button-action{
    color: white;
    font-weight: 600;
    background: rgb(134, 168, 177);
}

.button-control{
    color: #333;
}

.button-disabled{
    opacity: .5;
}