.modal-wrapper, .modal-wrapper--dark{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-wrapper{
    background: #00000010;
}
.modal-wrapper--dark{
    background: #00000070;
}
.card-modal{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    min-width: 250px;
    z-index: 3;
}

.modal-wrapper .card-modal{
    background: white;
}
.modal-wrapper--dark .card-modal{
    background: #333;
}


.card-modal h3{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}
.modal-wrapper .card-modal h3{
    color: #333;
}
.modal-wrapper--dark .card-modal h3{
    color: rgb(255, 255, 255);
}

.form-item{
    padding: 5px 0;
}
.form-item label{
    font-size: 14px;
}
.modal-wrapper--dark .card-modal .form-item label{
    color: rgb(224, 224, 224);
}
.modal-wrapper .card-modal .form-item label{
    color: rgb(90, 90, 90);
}
.modal-wrapper--dark .card-modal .form-item input{
    color: rgb(224, 224, 224);
}
.buttons-wrapper{
    padding-top: 10px;
    display: flex;
    gap: 10px;
}

.modal-error{
    color: lightcoral;
    font-size: 14px;
}