.App{
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: absolute;
}

.App-dark{
  background: #333;
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: absolute;
  color: rgb(224, 224, 224);
}